OPENCLAW_CONFIG_DIR=./state/config
OPENCLAW_WORKSPACE_DIR=./state/workspace
OPENCLAW_SOURCE_DIR=./state/vendor/openclaw
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_BRIDGE_PORT=18790
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_GATEWAY_TOKEN=
ROVODEV_PORT=8123
ROVODEV_WORKSPACE_DIR=.
ROVODEV_HOME_DIR=./state/rovodev-home
ACLI_INSTALL_URL=https://acli.atlassian.com/linux/latest/install.sh
